<div class="container p-4" style="margin-top:140px">
    <div class="display-6 text-center border-bottom pb-3">
        Cuáles son las patologías más comunes que podemos encontrar?
    </div>

    <div class="">
        <div class="py-4 lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur vel consequatur eligendi est provident.
            Libero eligendi voluptate dolor dolore quam expedita, iste vero non facilis voluptas voluptates impedit
            suscipit obcaecati!
        </div>
    </div>

</div>