<div>
  <div class="container-fluid p-4" style="margin-top:100px">
    <div class="container">
      <span class="d-flex justify-content-between">
        <div class="">
          <h1>{{personal_data.name}}</h1>
          <h4>{{personal_data.role}}</h4>
        </div>
        <a [href]="personal_data.linkedIn" target=”_blank”>
          <i class="display-5 bi bi-linkedin text-dark"></i>
        </a>
      </span>
      <app-html-to-pdf class="text-end" />

      <div class="container">
        <div class="display-6 text-center border-bottom">
          Experiencia
        </div>
        <div class="" *ngFor="let item of experienceData.experience">
          <div class="row">
            <div class="col-md-3">
              <div class="p-4">
                <h4>{{item.name}}</h4>
                <a class="link-dark" href="{{item.url}}" target="_blank">{{item.url}}</a>
                <h4>{{item.position}}</h4>
                {{item.dates}}
              </div>
            </div>
            <div class="col-md-9">
              <div class="py-4 lead">
                <div class="text-center pb-3">{{item.company_type}}</div>
                <div class="text-start">
                  <p>{{item.job_description}}</p>
                  <div *ngIf="item.tasks.length > 0">
                    <p>Tareas:</p>
                    <ul>
                      <li *ngFor="let task of item.tasks">{{task}}</li>
                    </ul>
                  </div>
                  <div *ngIf="item.tools.length > 0">
                    <p>Herramientas:</p>
                    <ul>
                      <li *ngFor="let tool of item.tools">{{tool}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="display-6 text-center border-bottom">
          Educacion
        </div>
        <div class="p-4">
          <h4 class="">{{educationData.uni_name}}</h4>
          <h6>{{educationData.degree_name}}</h6>
          <p>{{educationData.dates}}</p>
        </div>
      </div>
      <div class="container">
        <div class="display-6 text-center border-bottom">
          Un poco mas sobre mi
        </div>
        <div class="p-4">
          <span class="h6">HABILIDADES PERSONALES - </span>
          <span>{{extrasData.personal_skills}}</span>
        </div>
        <div class="p-4" *ngFor="let item of extrasData.extras">
          <div>
            <span class="h6">{{item.title}}: </span>
          </div>
          <ul>
            <li *ngFor="let skill of item.list">
              {{skill}}
            </li>
          </ul>
        </div>
      </div>
    </div>